bin
dist/
local_oras_cache/
.idea
__debug_bin
coverage.txt
test/e2e/coverage.txt

# generated directories
certs/
.staging

# symlink to ~/.ratify folder
/.ratify

# IDE files
.vscode

pkg/referrerstore/factory/plugin-store

