apiVersion: config.ratify.deislabs.io/v1alpha1
kind: Verifier
metadata:
  name: verifier-notary
spec:
  name: notaryv2
  artifactTypes: application/vnd.cncf.notary.v2.signature
  parameters:
    verificationCerts:
    - /usr/local/ratify-certs/notary/truststore
    trustPolicy: /usr/local/ratify-certs/notary/trustpolicy.json
     