name: Sync GH Pages
on:
  push:
    branches:
    - main
    paths:
    - library/**

permissions: read-all

jobs:
  merge-branch:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      repository-projects: write
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - uses: everlytic/branch-merge@c4a244dc23143f824ae6c022a10732566cb8e973
        with:
          github_token: ${{ github.token }}
          source_ref: ${{ github.ref }}
          target_branch: 'gh-pages'
          commit_message_template: '[Automated] Merged {source_ref} into target {target_branch}'